form {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
}

input:focus {
    border-color: #333;
    outline: none;
}

.register-link {
    margin-top: 200px;
    padding-right: 20px;
    text-align: right;
}

.register-link p {
    font-size: 14px;
    color: #333;
    display: block;
}

.register-link a {
    color: var(--color-light-green);
    font-weight: 600;
    text-decoration: none;
}

.swap-link {
    color: var(--color-light-green);
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.swap-link:hover {
    color: var(--color-dark-cyan);
}


@media (min-width: 768px) {
    form {
        padding: 40px; /* Increase padding on larger screens */
        max-width: 450px;
    }

    h2 {
        font-size: 30px; /* Increase heading size */
    }

    input {
        padding: 14px; /* Increase input padding */
        font-size: 18px; /* Increase font size for larger screens */
    }

    .login-btn {
        padding: 16px 32px; /* Larger buttons */
        font-size: 18px;
    }

    .register-link {
        margin-top: 40px;
        padding-right: 0;
    }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    form {
        padding: 50px; /* Add more padding for desktop */
        max-width: 500px; /* Slightly wider on desktop */
    }

    .login-btn {
        margin-top: 20px;
        padding: 20px 36px; /* Larger button padding */
        font-size: 20px;
    }

    .register-link {
        margin-top: 50px;
    }
}

