.menu-day {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Poppins, sans-serif;
    transition: box-shadow 0.3s ease;
}

.menu-day:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-day .menu-day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.menu-day .menu-day-header h3 {
    color: var(--color-light-green);
    font-size: 20px;
    font-weight: 600;
    flex-grow: 1;
}

.menu-day .reroll-btn {
    background-color: transparent;
    color: var(--color-light-green);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 60px;
}

.menu-day .reroll-btn:hover {
    color: var(--color-dark-cyan);
}

.recipe-details {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.recipe-details h4 {
    color: var(--color-dark-cyan);
    font-size: 18px;
    font-weight: 600;
}

.recipe-details p {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.4;
}

.recipe-details a p {
    color: var(--color-light-green);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
