.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid var(--color-light-green);
    border-radius: 5px;
    background: var(--color-light-green);
    cursor: pointer;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 10px;
}

.category-header h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-weight: 600;
    color: var(--color-dark-cyan);
}

.arrow {
    font-size: 16px;
    margin-left: 8px;
    display: flex;
    text-align: right;
}

.category-recipes {
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.category-recipes ul {
    color: white;
}

.category-recipes ul li {
    list-style: none;
}

.recipe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.recipe-item span {
    color: white;
    font-weight: 600;
}

.preparation-time {
    text-align: right;
    width: 50%;
}

@media (min-width: 768px) {
    .category-list {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .category-list {
        width: 90%;
        margin: 0 5%;
    }
}

@media (min-width: 1024px) {
    .category-list {
        max-width: 800px;
        margin: 0 auto;
    }
}
