.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #638889;
    color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.navbar span {
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}

.navbar span:hover {
    color: #ddd;
}
