.auth-container {
    text-align: center;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(0deg, #638889 0%, #9DBC98 100%);
    overflow: hidden; /* Prevent scrolling to the hidden form */
}

/* Form Header */
.auth-form-header {
    position: relative;
    bottom: 175px;
    font-size: 48px;
    margin-left: 20px;
    margin-bottom: -100px;
    color: #fff;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth slide and fade-in */
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Start transparent */
}

.auth-form-header.show {
    transform: translateX(0); /* Move to original position */
    opacity: 1; /* Fade in */
}

.auth-form-header h2 {
    font-size: 36px;
    text-align: left;
    white-space: pre-line; /* Allows line breaks in the header text */
}

.app-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffffff;
}

.welcome-message {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 100px;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Poppins, sans-serif;
}

.auth-sign-in-btn {
    background: transparent;
    color: white;
    font-weight: 700;
    border: 2px solid white;
}

.auth-sign-in-btn:hover {
    background-color: #ffffff;
    font-weight: 700;
    color: var(--color-dark-cyan);
}

.auth-sign-up-btn {
    background-color: #ffffff;
    font-weight: 700;
    color: var(--color-light-green);
}

.auth-sign-up-btn:hover {
    background: transparent;
    color: white;
    border: 2px solid white;
}

/* Form Container */
.auth-form-container {
    visibility: hidden; /* Hide the form initially */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    height: 75vh;
    transform: translateY(100%); /* Start off-screen */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Add transition for smooth animation */
    opacity: 0; /* Start transparent */
}

.auth-form-container.show {
    visibility: visible; /* Make form visible */
    transform: translateY(0); /* Bring form into view */
    opacity: 1; /* Fade in */
}

@media (min-width: 768px) {
    .auth-container {
        padding: 40px;  /* Add more padding for larger screens */
        background: linear-gradient(0deg, #638889 0%, #9DBC98 100%);
    }

    .auth-form-header {
        bottom: 150px;
        font-size: 48px;
        margin-left: 0; /* Center it horizontally */
        margin-bottom: -50px;
    }

    .app-title {
        font-size: 36px;
    }

    .welcome-message {
        font-size: 22px;
        margin-bottom: 80px;
    }

    .auth-buttons {
        flex-direction: row; /* Horizontal button layout for larger screens */
        gap: 30px;
    }

    .auth-form-container {
        height: 60vh;  /* Adjust form height for larger screens */
        padding: 40px;  /* Add more padding for larger screens */
    }
}

/* Small tablets (450px - 767px) */
@media (min-width: 450px) and (max-width: 767px) {
    .auth-container .auth-buttons {
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    .auth-form-header {
        bottom: 200px;
        margin-bottom: -80px;
    }

    .auth-form-header h2 {
        font-size: 42px;
        text-align: center;
    }

    .auth-form-container form {
        margin: 20px auto;
        padding: 0 50px;
    }
}

/* Tablets and small laptops (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .auth-container {
        padding: 40px;
    }

    .auth-container .auth-buttons {
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    .auth-form-header {
        bottom: 220px;
        margin-bottom: -80px;
    }

    .auth-form-header h2 {
        font-size: 42px;
        text-align: center;
    }

    .auth-form-container {
        height: 75vh;
        padding: 30px;
        max-width: 500px;
        border-radius: 20px 20px 0 0;
        margin: 0 auto;
    }

    .auth-form-container form {
        margin: 0 auto;
        padding: 0 50px;
    }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    .auth-container {
        max-width: 800px; /* Limit the container width for desktops */
        margin: 0 auto; /* Center it */
    }

    .auth-form-header {
        bottom: 200px;
    }

    .auth-form-header h2 {
        font-size: 42px;
        text-align: center;
    }

    .auth-container .auth-buttons {
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    .auth-form-container {
        height: 75vh; /* Further reduce form height for larger screens */
        padding: 50px;
        max-width: 750px;
        margin: 0 auto;
    }

    .auth-form-container form {
        margin: 0 auto;
        padding: 0 50px;
    }
}

/* Large Desktop (min-height: 1200px) */
@media (min-height: 1200px) {

    .auth-form-header {
        bottom: 350px;
    }

    .auth-container .auth-buttons {
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }
}
