.create-category {
    margin-bottom: 20px;
}

.create-category .modal-header .modal-title {
    text-align: center;
}

.create-category .modal-body form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 0 20px;
    margin: 0 auto;
}

.create-category form button.primary-btn {
    margin-bottom: 10px;
}
