.create-category {
    margin-bottom: 20px;
}

.create-category form {
    background-color:var(--color-light-green);
    padding: 20px;
    border-radius: 5px;
}

.create-category button {
    background: var(--color-light-green);
    color: white;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.create-category form button.create-category-btn {
    margin-bottom: 20px;
    background-color: white;
    color: var(--color-dark-cyan);
}
