.modal-header {
    margin-bottom: 20px;
}

.modal-body a {
    color: var(--color-light-green);
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.modal-body p {
    margin-bottom: 10px;
}

.modal-body .description {
    font-size: 14px;
    color: #333;
}

.edit-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.edit-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    height: 80px;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
