.create-recipe button {
    background: #16423C;
    color: white;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.create-recipe form button.create-recipe-btn {
    margin-bottom: 20px;
    background-color: white;
    color: #16423C;
    height: 45px;
    border: #16423C solid 2px;
}

.create-recipe textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
