.create-recipe button {
    background: var(--color-bg);
    color: var(--color-dark-cyan);
    font-weight: 700;
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    border: var(--color-dark-cyan) solid 2px;
    border-radius: 25px;
    cursor: pointer;
}

.create-recipe form button.create-recipe-btn {
    margin-bottom: 20px;
    background-color: white;
    color: var(--color-dark-cyan);
    height: 45px;
    border: var(--color-dark-cyan) solid 2px;
}

.create-recipe form button.cancel-btn {
    background-color: var(--color-dark-cyan);
    color: white;
    height: 45px;
    border: var(--color-dark-cyan) solid 2px;
}

.create-recipe textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
