.create-recipe .modal-header {
    padding: 0 20px;
}

.create-recipe form {
    padding: 20px 20px 0 20px;
}

.create-recipe textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
