.profile-container {
    padding: 20px;
    background: #E9EFEC;
    max-height: calc(100vh - 60px); /* Adjust the height, assuming the navbar is 60px */
    box-sizing: border-box; /* Ensure padding is considered within the height */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}

.profile-container h1 {
    font-size: 28px;
    color: #16423C;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.profile-container input {
    font-family: Poppins, sans-serif;
}

.profile-container label {
    margin-top: 20px;
}

.profile-container button {
    background: #6A9C89;
    color: white;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.profile-container .logout-btn {
    margin-top: 30px;
    background: #16423C;
}
