/* Color Variables */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #B9B9B9;
    --color-light-gray: #F5F5F5;

    --color-light-green: #6A9C89;
    --color-dark-cyan: #16423c;
    --color-bg: #E9EFEC;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background: var(--color-bg);
    font-family: 'Poppins', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: linear-gradient(90deg, #AF0606 0%, #23003C 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    /* Webkits to make sure that it works with all browsers. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Tablets */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

/* Phones */
@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}
