/* Color Variables */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #B9B9B9;
    --color-light-gray: #F5F5F5;

    --color-light-green: #6A9C89;
    --color-dark-cyan: #16423c;
    --color-bg: #E9EFEC;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background: var(--color-bg);
    font-family: 'Poppins', sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

/* Desktops */
@media screen and (min-width: 1024px) {
    body {
        font-size: 18px; /* Adjust base font size for readability */
        background: linear-gradient(0deg, #638889 0%, #9DBC98 100%);
    }

    .section__padding {
        padding: 6rem;
    }

    .section__margin {
        margin: 6rem;
    }
}

/* Tablets */
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

/* Phones */
@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}
