.menu-container {
    padding: 20px;
    background: var(--color-bg);
    max-height: calc(100vh - 60px); /* Assuming the navbar is 60px */
    box-sizing: border-box; /* Ensure padding is considered within the height */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}

.menu-container h1 {
    font-size: 28px;
    color: var(--color-dark-cyan);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.menu-container button {
    background: var(--color-light-green);
    color: white;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-container button:hover {
    background: var(--color-dark-cyan);
}

.menu-container .generate-menu-btn {
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-days {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
