form {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
}

input:focus {
    border-color: #333;
    outline: none;
}

.login-link {
    margin-top: 30px;
    padding-right: 20px;
    text-align: right;
}

.login-link p {
    font-size: 14px;
    color: #333;
    display: block;
}

.login-link a {
    color: var(--color-light-green);
    font-weight: 600;
    text-decoration: none;
}

.swap-link {
    color: var(--color-light-green);
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.swap-link:hover {
    color: var(--color-dark-cyan);
}

@media (min-width: 768px) {
    form {
        padding: 40px;
        max-width: 450px;
    }

    h2 {
        font-size: 30px;
    }

    input {
        padding: 14px;
        font-size: 18px;
    }

    .register-btn {
        padding: 16px 32px;
        font-size: 18px;
    }

    .login-link {
        margin-top: 40px;
        padding-right: 0;
    }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    form {
        padding: 50px;
        max-width: 500px;
    }

    .register-btn {
        padding: 20px 36px;
        font-size: 20px;
    }

    .login-link {
        margin-top: 40px;
        padding: 0 125px;
    }
}


