form {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: linear-gradient(90deg, #570000 0%, #23003C 100%);
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
}

input:focus {
    border-color: #333;
    outline: none;
}

.register-btn {
    width: 100%;
    background: linear-gradient(90deg, #570000 0%, #23003C 100%);
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    font-family: Poppins, sans-serif;
}

.login-link {
    margin-top: 30px;
    padding-right: 20px;
    text-align: right;
}

.login-link p {
    font-size: 14px;
    color: #333;
    display: block;
}

.login-link a {
    color: linear-gradient(90deg, #570000 0%, #23003C 100%);
    font-weight: 600;
    text-decoration: none;
}

.swap-link {
    color: #570000;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.swap-link:hover {
    color: #23003C;
}



@media (min-width: 768px) {
    form {
        padding: 30px;
        max-width: 500px;
    }

    h2 {
        font-size: 28px;
    }

    input {
        padding: 12px;
        font-size: 18px;
    }

    button {
        padding: 14px;
        font-size: 18px;
    }
}
